In [1]:
#importing libaries
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn
sns.set(style='whitegrid')
from datetime import datetime

In [2]:
os.chdir(r'C:\Users\user\Downloads\UDEMY\datasets\data1')
os.listdir()

['catboost_info',
 'loan_submission.csv',
 'loan_submission2.csv',
 'logs',
 'SampleSubmission.csv',
 'testdemographics.csv',
 'testperf.csv',
 'testprevloans.csv',
 'testprevloans.zip',
 'traindemographics.csv',
 'trainperf.csv',
 'trainprevloans.csv',
 'trainprevloans.zip']

In [3]:
pf_data = pd.read_csv('trainperf.csv')

In [4]:
pf_data.head()

,customerid,systemloanid,loannumber,approveddate,creationdate,loanamount,totaldue,termdays,referredby,good_bad_flag
0,8a2a81a74ce8c05d014cfb32a0da1049,301994762,12,2017-07-25 08:22:56.000000,2017-07-25 07:22:47.000000,30000.0,34500.0,30,NaN,Good
1,8a85886e54beabf90154c0a29ae757c0,301965204,2,2017-07-05 17:04:41.000000,2017-07-05 16:04:18.000000,15000.0,17250.0,30,NaN,Good
2,8a8588f35438fe12015444567666018e,301966580,7,2017-07-06 14:52:57.000000,2017-07-06 13:52:51.000000,20000.0,22250.0,15,NaN,Good
3,8a85890754145ace015429211b513e16,301999343,3,2017-07-27 19:00:41.000000,2017-07-27 18:00:35.000000,10000.0,11500.0,15,NaN,Good
4,8a858970548359cc0154883481981866,301962360,9,2017-07-03 23:42:45.000000,2017-07-03 22:42:39.000000,40000.0,44000.0,30,NaN,Good

In [5]:
prev = pd.read_csv('trainprevloans.csv')

In [6]:
prev.head(15)

,customerid,systemloanid,loannumber,approveddate,creationdate,loanamount,totaldue,termdays,closeddate,referredby,firstduedate,firstrepaiddate
0,8a2a81a74ce8c05d014cfb32a0da1049,301682320,2,2016-08-15 18:22:40.000000,2016-08-15 17:22:32.000000,10000.0,13000.0,30,2016-09-01 16:06:48.000000,NaN,2016-09-14 00:00:00.000000,2016-09-01 15:51:43.000000
1,8a2a81a74ce8c05d014cfb32a0da1049,301883808,9,2017-04-28 18:39:07.000000,2017-04-28 17:38:53.000000,10000.0,13000.0,30,2017-05-28 14:44:49.000000,NaN,2017-05-30 00:00:00.000000,2017-05-26 00:00:00.000000
2,8a2a81a74ce8c05d014cfb32a0da1049,301831714,8,2017-03-05 10:56:25.000000,2017-03-05 09:56:19.000000,20000.0,23800.0,30,2017-04-26 22:18:56.000000,NaN,2017-04-04 00:00:00.000000,2017-04-26 22:03:47.000000
3,8a8588f35438fe12015444567666018e,301861541,5,2017-04-09 18:25:55.000000,2017-04-09 17:25:42.000000,10000.0,11500.0,15,2017-04-24 01:35:52.000000,NaN,2017-04-24 00:00:00.000000,2017-04-24 00:48:43.000000
4,8a85890754145ace015429211b513e16,301941754,2,2017-06-17 09:29:57.000000,2017-06-17 08:29:50.000000,10000.0,11500.0,15,2017-07-14 21:18:43.000000,NaN,2017-07-03 00:00:00.000000,2017-07-14 21:08:35.000000
5,8a858970548359cc0154883481981866,301832407,5,2017-03-06 13:25:17.000000,2017-03-06 12:25:10.000000,20000.0,23800.0,30,2017-04-04 15:46:56.000000,NaN,2017-04-05 00:00:00.000000,2017-04-04 15:31:47.000000
6,8a858970548359cc0154883481981866,301926513,8,2017-06-04 01:00:23.000000,2017-06-04 00:00:16.000000,30000.0,39000.0,60,2017-07-03 23:35:38.000000,NaN,2017-07-04 00:00:00.000000,2017-07-03 23:25:29.000000
7,8a8589f35451855401546b0738c42524,301912443,6,2017-05-18 09:42:18.000000,2017-05-18 08:41:12.000000,20000.0,24500.0,30,2017-06-19 10:10:35.000000,NaN,2017-06-19 00:00:00.000000,2017-06-19 10:00:21.000000
8,8a858e095c59b91b015c5e5cea3719bc,301936857,2,2017-06-13 08:26:31.000000,2017-06-13 07:26:24.000000,10000.0,13000.0,30,2017-07-10 13:32:03.000000,NaN,2017-07-13 00:00:00.000000,2017-07-10 13:21:53.000000
9,8a858e1158dc4d830158f7bde4f47ea7,301811291,3,2017-02-06 18:55:30.000000,2017-02-06 17:55:20.000000,10000.0,11500.0,15,2017-02-21 05:34:20.000000,NaN,2017-02-21 00:00:00.000000,2017-02-21 05:19:09.000000
10,8a858e1158dc4d830158f7bde4f47ea7,301873260,7,2017-04-19 12:35:52.000000,2017-04-19 11:35:44.000000,30000.0,34400.0,30,2017-05-19 22:12:16.000000,NaN,2017-05-19 00:00:00.000000,2017-05-19 21:57:07.000000
11,8a858e185b4923b4015b4ae48d28646a,301905582,1,2017-05-13 21:44:21.000000,2017-05-13 20:31:27.000000,10000.0,11500.0,15,2017-06-08 17:45:27.000000,NaN,2017-05-30 00:00:00.000000,2017-06-08 17:35:19.000000
12,8a858e345bd96da8015be6b9f8bc10c7,301916835,2,2017-05-24 04:12:36.000000,2017-05-24 03:12:30.000000,10000.0,13000.0,30,2017-06-30 08:45:49.000000,NaN,2017-06-23 00:00:00.000000,2017-06-30 08:35:40.000000
13,8a858e4456ced8470156dc8f1f4038d3,301817710,5,2017-02-15 14:30:34.000000,2017-02-15 13:30:28.000000,20000.0,21900.0,15,2017-02-25 11:47:04.000000,NaN,2017-03-02 00:00:00.000000,2017-02-25 11:31:54.000000
14,8a858e4456ced8470156dc8f1f4038d3,301878488,8,2017-04-24 12:03:33.000000,2017-04-24 11:03:26.000000,30000.0,34400.0,30,2017-05-24 16:17:14.000000,NaN,2017-05-24 00:00:00.000000,2017-05-24 16:02:04.000000

##### checking the performance data and previous loan data of the customers

In [7]:
pf_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4368 entries, 0 to 4367
Data columns (total 10 columns):
customerid       4368 non-null object
systemloanid     4368 non-null int64
loannumber       4368 non-null int64
approveddate     4368 non-null object
creationdate     4368 non-null object
loanamount       4368 non-null float64
totaldue         4368 non-null float64
termdays         4368 non-null int64
referredby       587 non-null object
good_bad_flag    4368 non-null object
dtypes: float64(2), int64(3), object(5)
memory usage: 341.3+ KB

In [8]:
pf_data.describe()

       systemloanid   loannumber    loanamount      totaldue     termdays
count  4.368000e+03  4368.000000   4368.000000   4368.000000  4368.000000
mean   3.019810e+08     5.172390  17809.065934  21257.377679    29.261676
std    1.343115e+04     3.653569  10749.694571  11943.510416    11.512519
min    3.019585e+08     2.000000  10000.000000  10000.000000    15.000000
25%    3.019691e+08     2.000000  10000.000000  13000.000000    30.000000
50%    3.019801e+08     4.000000  10000.000000  13000.000000    30.000000
75%    3.019935e+08     7.000000  20000.000000  24500.000000    30.000000
max    3.020040e+08    27.000000  60000.000000  68100.000000    90.000000

In [9]:
prev.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18183 entries, 0 to 18182
Data columns (total 12 columns):
customerid         18183 non-null object
systemloanid       18183 non-null int64
loannumber         18183 non-null int64
approveddate       18183 non-null object
creationdate       18183 non-null object
loanamount         18183 non-null float64
totaldue           18183 non-null float64
termdays           18183 non-null int64
closeddate         18183 non-null object
referredby         1026 non-null object
firstduedate       18183 non-null object
firstrepaiddate    18183 non-null object
dtypes: float64(2), int64(3), object(7)
memory usage: 1.7+ MB

#### For some feature engineering

In [10]:
prev['closeddate'] = pd.to_datetime(prev['closeddate'])
prev['firstduedate'] = pd.to_datetime(prev['firstduedate'])
prev['firstrepaiddate'] = pd.to_datetime(prev['firstrepaiddate'])

In [11]:
prev['closeddate'] = [datetime.timestamp(i) for i in prev['closeddate']]
prev['firstduedate'] = [datetime.timestamp(i) for i in prev['firstduedate']]
prev['firstrepaiddate'] = [datetime.timestamp(i) for i in prev['firstrepaiddate']]

In [12]:
prev = pd.DataFrame(prev, columns=['customerid','closeddate','firstduedate','firstrepaiddate'])

In [13]:
prev.head()

,customerid,closeddate,firstduedate,firstrepaiddate
0,8a2a81a74ce8c05d014cfb32a0da1049,1.472742e+09,1.473808e+09,1.472742e+09
1,8a2a81a74ce8c05d014cfb32a0da1049,1.495979e+09,1.496099e+09,1.495753e+09
2,8a2a81a74ce8c05d014cfb32a0da1049,1.493242e+09,1.491260e+09,1.493241e+09
3,8a8588f35438fe12015444567666018e,1.492994e+09,1.492988e+09,1.492991e+09
4,8a85890754145ace015429211b513e16,1.500064e+09,1.499036e+09,1.500063e+09

In [14]:
pf_data.head()

,customerid,systemloanid,loannumber,approveddate,creationdate,loanamount,totaldue,termdays,referredby,good_bad_flag
0,8a2a81a74ce8c05d014cfb32a0da1049,301994762,12,2017-07-25 08:22:56.000000,2017-07-25 07:22:47.000000,30000.0,34500.0,30,NaN,Good
1,8a85886e54beabf90154c0a29ae757c0,301965204,2,2017-07-05 17:04:41.000000,2017-07-05 16:04:18.000000,15000.0,17250.0,30,NaN,Good
2,8a8588f35438fe12015444567666018e,301966580,7,2017-07-06 14:52:57.000000,2017-07-06 13:52:51.000000,20000.0,22250.0,15,NaN,Good
3,8a85890754145ace015429211b513e16,301999343,3,2017-07-27 19:00:41.000000,2017-07-27 18:00:35.000000,10000.0,11500.0,15,NaN,Good
4,8a858970548359cc0154883481981866,301962360,9,2017-07-03 23:42:45.000000,2017-07-03 22:42:39.000000,40000.0,44000.0,30,NaN,Good

In [15]:
pf_data.loc[pf_data['referredby'].notnull(), 'referredby'] = 1
pf_data.loc[pf_data['referredby'].isnull(), 'referredby'] = 0

In [16]:
train = pd.merge(pf_data,prev,on='customerid',how='inner')

In [17]:
train.head()

,customerid,systemloanid,loannumber,approveddate,creationdate,loanamount,totaldue,termdays,referredby,good_bad_flag,closeddate,firstduedate,firstrepaiddate
0,8a2a81a74ce8c05d014cfb32a0da1049,301994762,12,2017-07-25 08:22:56.000000,2017-07-25 07:22:47.000000,30000.0,34500.0,30,0,Good,1.472742e+09,1.473808e+09,1.472742e+09
1,8a2a81a74ce8c05d014cfb32a0da1049,301994762,12,2017-07-25 08:22:56.000000,2017-07-25 07:22:47.000000,30000.0,34500.0,30,0,Good,1.495979e+09,1.496099e+09,1.495753e+09
2,8a2a81a74ce8c05d014cfb32a0da1049,301994762,12,2017-07-25 08:22:56.000000,2017-07-25 07:22:47.000000,30000.0,34500.0,30,0,Good,1.493242e+09,1.491260e+09,1.493241e+09
3,8a2a81a74ce8c05d014cfb32a0da1049,301994762,12,2017-07-25 08:22:56.000000,2017-07-25 07:22:47.000000,30000.0,34500.0,30,0,Good,1.498401e+09,1.499036e+09,1.498400e+09
4,8a2a81a74ce8c05d014cfb32a0da1049,301994762,12,2017-07-25 08:22:56.000000,2017-07-25 07:22:47.000000,30000.0,34500.0,30,0,Good,1.500967e+09,1.501456e+09,1.500966e+09

In [18]:
train.loc[train['good_bad_flag']=='Good','good_bad_flag'] = 1
train.loc[train['good_bad_flag']=='Bad','good_bad_flag'] = 0

In [19]:
train['approveddate'] = pd.to_datetime(train['approveddate'])
train['creationdate'] = pd.to_datetime(train['creationdate'])
train['customerid'] = train['customerid'].astype('category')

In [20]:
train['approveddate'] = [datetime.timestamp(i) for i in train['approveddate']]
train['creationdate'] = [datetime.timestamp(i) for i in train['creationdate']]

In [21]:
train = train.groupby(train['customerid']).mean().reset_index()

In [22]:
target = train['good_bad_flag']
train = train.drop('customerid',axis=1)
del(train['good_bad_flag'])

In [23]:
#Scaling the data, so as to increase the computational speed
from sklearn.preprocessing import StandardScaler

In [24]:
scale = StandardScaler()

In [25]:
train.head()

,systemloanid,loannumber,approveddate,creationdate,loanamount,totaldue,termdays,referredby,closeddate,firstduedate,firstrepaiddate
0,301999397,2,1.501181e+09,1.501177e+09,10000.0,11500.0,15,0,1.500926e+09,1.500332e+09,1.500925e+09
1,301997672,5,1.501096e+09,1.501092e+09,30000.0,39000.0,60,0,1.483427e+09,1.483247e+09,1.483280e+09
2,301976551,8,1.499970e+09,1.499967e+09,20000.0,24500.0,30,0,1.489513e+09,1.489495e+09,1.489506e+09
3,301975382,9,1.499902e+09,1.499899e+09,30000.0,39000.0,60,0,1.489269e+09,1.489360e+09,1.489142e+09
4,301979352,3,1.500131e+09,1.500127e+09,10000.0,11500.0,15,0,1.497438e+09,1.497740e+09,1.497438e+09

In [26]:
on = ['systemloanid','loannumber','approveddate','creationdate','loanamount','totaldue','termdays','referredby','closeddate','firstduedate','firstrepaiddate']

In [27]:
train[on] = scale.fit_transform(train[on])

In [28]:
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split, GridSearchCV

In [29]:
X_train,X_test,y_train,y_test = train_test_split(train,target,test_size=0.25,random_state=42)

##### Using GridSearchCV to get the optimal parameter for our dataset.

In [30]:
#forest_grid = [{'n_estimators':[40,60,100,200], 'max_features':[2,3,4,5,6,8],'max_leaf_nodes':[2,3,4,5,6]}]
#forest=RandomForestClassifier(random_state=0,n_jobs=-1)
#grid_search = GridSearchCV(forest,forest_grid,cv=5, return_train_score=True)

In [31]:
#grid_search.fit(X_train,y_train)
#grid_search.best_params_

###### Trying various model to get the one that gives the best score.

In [32]:
forest2 = RandomForestClassifier(n_estimators=40, max_features=3,max_leaf_nodes=5,random_state=0)
forest2.fit(X_train,y_train)

RandomForestClassifier(max_features=3, max_leaf_nodes=5, n_estimators=40,
                       random_state=0)

In [33]:
print('the RandomForestClassifier 1-accuracy score of train set is: {}'.format(1-(accuracy_score(y_train,forest2.predict(X_train)))))
print('the RandomForestClassifier 1-accuracy score of test set is: {}'.format(1-(accuracy_score(y_test,forest2.predict(X_test)))))

the RandomForestClassifier 1-accuracy score of train set is: 0.21749770572040383
the RandomForestClassifier 1-accuracy score of test set is: 0.21834862385321097

In [34]:
gbr= GradientBoostingClassifier(learning_rate=0.1, max_depth=3, max_features=5, n_estimators=100,random_state=0)
gbr.fit(X_train, y_train)

print('the GradientBoostingClassifier 1-accuracy score of train set is: {}'.format(1- (accuracy_score(y_train, gbr.predict(X_train)))))
print('the GradientBoostingClassifier 1-accuracy score of test set is: {}'.format(1- (accuracy_score(y_test, gbr.predict(X_test)))))

the GradientBoostingClassifier 1-accuracy score of train set is: 0.1933312939736923
the GradientBoostingClassifier 1-accuracy score of test set is: 0.20733944954128436

In [35]:
#grad_grid = [{'learning_rate':[0.1,0.25,0.75,1], 'n_estimators':[50,80,100], 'max_depth':[3,4,5,6], 'max_features':[3,4,5]}] 
#gra = GradientBoostingClassifier(random_state=0)
#grid_search = GridSearchCV(gra,grad_grid,cv=5,n_jobs=-1)

In [36]:
#grid_search.fit(X_train, y_train)
#grid_search.best_params_

In [37]:
from lightgbm import LGBMClassifier
model = LGBMClassifier(random_state=0)
model.fit(X_train,y_train)

LGBMClassifier(random_state=0)

In [38]:
print('the LGBM 1-accuracy score of train set is: {}'.format(1- (accuracy_score(y_train, model.predict(X_train)))))
print('the LGBM 1-accuracy score of test set is: {}'.format(1- (accuracy_score(y_test, model.predict(X_test)))))

the LGBM 1-accuracy score of train set is: 0.12664423371061484
the LGBM 1-accuracy score of test set is: 0.21376146788990824

In [39]:
#cat_grid = [{'iterations':[100,250,500,1000],'depth':[3,4,5],'learning_rate':[0.1,0.25,0.5,1],}]
#cat = CatBoostClassifier()
#grid = GridSearchCV(cat,cat_grid,cv=5,n_jobs=-1)

In [40]:
#grid.fit(X_train,y_train)

In [41]:
#grid.best_params_

In [42]:
from catboost import CatBoostClassifier
model2 = CatBoostClassifier(depth=3, iterations=100,learning_rate=0.25)

In [43]:
model2.fit(X_train,y_train)

0:	learn: 0.6233553	total: 86.4ms	remaining: 8.55s
1:	learn: 0.5811091	total: 92.6ms	remaining: 4.54s
2:	learn: 0.5564354	total: 98.8ms	remaining: 3.2s
3:	learn: 0.5382855	total: 105ms	remaining: 2.52s
4:	learn: 0.5288097	total: 111ms	remaining: 2.1s
5:	learn: 0.5229799	total: 117ms	remaining: 1.84s
6:	learn: 0.5157962	total: 123ms	remaining: 1.63s
7:	learn: 0.5123641	total: 127ms	remaining: 1.46s
8:	learn: 0.5100360	total: 131ms	remaining: 1.32s
9:	learn: 0.5075594	total: 134ms	remaining: 1.21s
10:	learn: 0.5060475	total: 138ms	remaining: 1.11s
11:	learn: 0.5030394	total: 141ms	remaining: 1.03s
12:	learn: 0.5010051	total: 145ms	remaining: 969ms
13:	learn: 0.5002885	total: 148ms	remaining: 912ms
14:	learn: 0.4981878	total: 152ms	remaining: 861ms
15:	learn: 0.4978820	total: 154ms	remaining: 808ms
16:	learn: 0.4953630	total: 156ms	remaining: 761ms
17:	learn: 0.4935188	total: 158ms	remaining: 720ms
18:	learn: 0.4931798	total: 160ms	remaining: 684ms
19:	learn: 0.4926852	total: 163ms	remaining: 650ms
20:	learn: 0.4926264	total: 165ms	remaining: 620ms
21:	learn: 0.4921625	total: 167ms	remaining: 592ms
22:	learn: 0.4903385	total: 169ms	remaining: 566ms
23:	learn: 0.4881686	total: 171ms	remaining: 543ms
24:	learn: 0.4866330	total: 174ms	remaining: 521ms
25:	learn: 0.4861556	total: 176ms	remaining: 501ms
26:	learn: 0.4856260	total: 178ms	remaining: 481ms
27:	learn: 0.4847180	total: 180ms	remaining: 463ms
28:	learn: 0.4837051	total: 182ms	remaining: 446ms
29:	learn: 0.4834495	total: 184ms	remaining: 430ms
30:	learn: 0.4828540	total: 187ms	remaining: 415ms
31:	learn: 0.4823763	total: 189ms	remaining: 401ms
32:	learn: 0.4808327	total: 191ms	remaining: 388ms
33:	learn: 0.4803683	total: 193ms	remaining: 375ms
34:	learn: 0.4789908	total: 195ms	remaining: 362ms
35:	learn: 0.4786815	total: 197ms	remaining: 351ms
36:	learn: 0.4777262	total: 199ms	remaining: 339ms
37:	learn: 0.4774379	total: 201ms	remaining: 329ms
38:	learn: 0.4770387	total: 204ms	remaining: 318ms
39:	learn: 0.4767316	total: 206ms	remaining: 309ms
40:	learn: 0.4762761	total: 208ms	remaining: 299ms
41:	learn: 0.4758256	total: 210ms	remaining: 290ms
42:	learn: 0.4747422	total: 212ms	remaining: 281ms
43:	learn: 0.4740082	total: 214ms	remaining: 273ms
44:	learn: 0.4728163	total: 217ms	remaining: 265ms
45:	learn: 0.4721782	total: 219ms	remaining: 257ms
46:	learn: 0.4716511	total: 221ms	remaining: 249ms
47:	learn: 0.4713537	total: 223ms	remaining: 242ms
48:	learn: 0.4709635	total: 225ms	remaining: 235ms
49:	learn: 0.4705811	total: 228ms	remaining: 228ms
50:	learn: 0.4699757	total: 230ms	remaining: 221ms
51:	learn: 0.4693415	total: 232ms	remaining: 214ms
52:	learn: 0.4685864	total: 234ms	remaining: 208ms
53:	learn: 0.4682655	total: 236ms	remaining: 201ms
54:	learn: 0.4672756	total: 238ms	remaining: 195ms
55:	learn: 0.4668289	total: 240ms	remaining: 189ms
56:	learn: 0.4666210	total: 243ms	remaining: 183ms
57:	learn: 0.4659311	total: 245ms	remaining: 177ms
58:	learn: 0.4657480	total: 247ms	remaining: 172ms
59:	learn: 0.4654675	total: 250ms	remaining: 166ms
60:	learn: 0.4651358	total: 252ms	remaining: 161ms
61:	learn: 0.4649917	total: 254ms	remaining: 156ms
62:	learn: 0.4648340	total: 257ms	remaining: 151ms
63:	learn: 0.4647020	total: 259ms	remaining: 146ms
64:	learn: 0.4645739	total: 261ms	remaining: 140ms
65:	learn: 0.4636593	total: 263ms	remaining: 136ms
66:	learn: 0.4623482	total: 266ms	remaining: 131ms
67:	learn: 0.4620557	total: 268ms	remaining: 126ms
68:	learn: 0.4617960	total: 270ms	remaining: 121ms
69:	learn: 0.4616439	total: 272ms	remaining: 117ms
70:	learn: 0.4615728	total: 277ms	remaining: 113ms
71:	learn: 0.4614004	total: 281ms	remaining: 109ms
72:	learn: 0.4613549	total: 284ms	remaining: 105ms
73:	learn: 0.4604628	total: 287ms	remaining: 101ms
74:	learn: 0.4602303	total: 289ms	remaining: 96.4ms
75:	learn: 0.4598658	total: 292ms	remaining: 92.4ms
76:	learn: 0.4597568	total: 295ms	remaining: 88ms
77:	learn: 0.4593790	total: 297ms	remaining: 83.8ms
78:	learn: 0.4588734	total: 299ms	remaining: 79.6ms
79:	learn: 0.4587510	total: 302ms	remaining: 75.4ms
80:	learn: 0.4583409	total: 304ms	remaining: 71.3ms
81:	learn: 0.4571309	total: 306ms	remaining: 67.2ms
82:	learn: 0.4569278	total: 309ms	remaining: 63.2ms
83:	learn: 0.4567237	total: 311ms	remaining: 59.2ms
84:	learn: 0.4564475	total: 313ms	remaining: 55.3ms
85:	learn: 0.4559589	total: 315ms	remaining: 51.3ms
86:	learn: 0.4554973	total: 318ms	remaining: 47.5ms
87:	learn: 0.4553745	total: 320ms	remaining: 43.6ms
88:	learn: 0.4551576	total: 322ms	remaining: 39.8ms
89:	learn: 0.4549767	total: 324ms	remaining: 36ms
90:	learn: 0.4545080	total: 327ms	remaining: 32.4ms
91:	learn: 0.4544498	total: 329ms	remaining: 28.6ms
92:	learn: 0.4539586	total: 332ms	remaining: 25ms
93:	learn: 0.4537082	total: 334ms	remaining: 21.3ms
94:	learn: 0.4529765	total: 336ms	remaining: 17.7ms
95:	learn: 0.4527911	total: 338ms	remaining: 14.1ms
96:	learn: 0.4520210	total: 342ms	remaining: 10.6ms
97:	learn: 0.4515995	total: 344ms	remaining: 7.02ms
98:	learn: 0.4510251	total: 347ms	remaining: 3.5ms
99:	learn: 0.4506778	total: 349ms	remaining: 0us

In [44]:
print('the CatBoost 1-accuracy score of train set is: {}'.format(1- (accuracy_score(y_train, model2.predict(X_train)))))
print('the CatBoost 1-accuracy score of test set is: {}'.format(1- (accuracy_score(y_test, model2.predict(X_test)))))

the CatBoost 1-accuracy score of train set is: 0.19853166105842768
the CatBoost 1-accuracy score of test set is: 0.2018348623853211

### Using Keras

In [45]:
#Using sigmoid function for my output since we are dealing with binary classification

In [48]:
#importing tensorflow and Keras
import tensorflow as tf

import tensorflow.compat.v1 as tf
from tensorflow.keras.backend import clear_session
clear_session()
from tensorflow.compat.v1 import keras

In [49]:
from tensorflow.keras import layers
import datetime
logdir = "logs/scalars/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorboard_callback = keras.callbacks.TensorBoard(log_dir=logdir)

#Building the neural network using layers of 400 and 200
model = tf.keras.Sequential()
model.add(layers.Dense(400,input_shape=(11,), activation='relu'))
model.add(layers.Dense(200, activation='relu'))

#Using sigmoid function for my output since we are dealing with binary classification
model.add(layers.Dense(2, activation = 'sigmoid'))

In [50]:
model.compile(optimizer=tf.keras.optimizers.Adam(learning_rate = 0.01),
              loss=tf.keras.losses.CategoricalCrossentropy(from_logits=True),
              metrics=['accuracy'])

In [52]:
from tensorflow.keras.utils import to_categorical
y_binary = to_categorical(y_train)
y_k = to_categorical(y_test)
model.fit(X_train, y_binary, epochs=50, batch_size=50,
              validation_data=(X_test, y_k),
              callbacks=[tensorboard_callback])

Epoch 1/50
 2/66 [..............................] - ETA: 19s - loss: 0.4933 - accuracy: 0.8200WARNING:tensorflow:Callbacks method `on_train_batch_begin` is slow compared to the batch time (batch time: 0.0000s vs `on_train_batch_begin` time: 0.0160s). Check your callbacks.
WARNING:tensorflow:Callbacks method `on_train_batch_end` is slow compared to the batch time (batch time: 0.0000s vs `on_train_batch_end` time: 0.6063s). Check your callbacks.
66/66 [==============================] - 1s 16ms/step - loss: 0.5308 - accuracy: 0.7825 - val_loss: 0.5316 - val_accuracy: 0.7817
Epoch 2/50
66/66 [==============================] - 0s 5ms/step - loss: 0.5308 - accuracy: 0.7825 - val_loss: 0.5316 - val_accuracy: 0.7817
Epoch 3/50
66/66 [==============================] - 0s 6ms/step - loss: 0.5308 - accuracy: 0.7825 - val_loss: 0.5316 - val_accuracy: 0.7817
Epoch 4/50
66/66 [==============================] - 0s 6ms/step - loss: 0.5308 - accuracy: 0.7825 - val_loss: 0.5316 - val_accuracy: 0.7817
Epoch 5/50
66/66 [==============================] - 0s 5ms/step - loss: 0.5308 - accuracy: 0.7825 - val_loss: 0.5316 - val_accuracy: 0.7817
Epoch 6/50
66/66 [==============================] - 0s 5ms/step - loss: 0.5308 - accuracy: 0.7825 - val_loss: 0.5316 - val_accuracy: 0.7817
Epoch 7/50
66/66 [==============================] - 0s 5ms/step - loss: 0.5308 - accuracy: 0.7825 - val_loss: 0.5316 - val_accuracy: 0.7817
Epoch 8/50
66/66 [==============================] - 0s 6ms/step - loss: 0.5308 - accuracy: 0.7825 - val_loss: 0.5316 - val_accuracy: 0.7817
Epoch 9/50
66/66 [==============================] - 0s 6ms/step - loss: 0.5308 - accuracy: 0.7825 - val_loss: 0.5316 - val_accuracy: 0.7817
Epoch 10/50
66/66 [==============================] - 0s 4ms/step - loss: 0.5308 - accuracy: 0.7825 - val_loss: 0.5316 - val_accuracy: 0.7817
Epoch 11/50
66/66 [==============================] - 0s 6ms/step - loss: 0.5308 - accuracy: 0.7825 - val_loss: 0.5316 - val_accuracy: 0.7817
Epoch 12/50
66/66 [==============================] - 0s 4ms/step - loss: 0.5308 - accuracy: 0.7825 - val_loss: 0.5316 - val_accuracy: 0.7817
Epoch 13/50
66/66 [==============================] - 0s 4ms/step - loss: 0.5308 - accuracy: 0.7825 - val_loss: 0.5316 - val_accuracy: 0.7817
Epoch 14/50
66/66 [==============================] - 0s 6ms/step - loss: 0.5308 - accuracy: 0.7825 - val_loss: 0.5316 - val_accuracy: 0.7817
Epoch 15/50
66/66 [==============================] - 0s 4ms/step - loss: 0.5308 - accuracy: 0.7825 - val_loss: 0.5316 - val_accuracy: 0.7817
Epoch 16/50
66/66 [==============================] - 0s 5ms/step - loss: 0.5308 - accuracy: 0.7825 - val_loss: 0.5316 - val_accuracy: 0.7817
Epoch 17/50
66/66 [==============================] - 0s 5ms/step - loss: 0.5308 - accuracy: 0.7825 - val_loss: 0.5316 - val_accuracy: 0.7817
Epoch 18/50
66/66 [==============================] - 0s 5ms/step - loss: 0.5308 - accuracy: 0.7825 - val_loss: 0.5316 - val_accuracy: 0.7817
Epoch 19/50
66/66 [==============================] - 0s 5ms/step - loss: 0.5308 - accuracy: 0.7825 - val_loss: 0.5316 - val_accuracy: 0.7817
Epoch 20/50
66/66 [==============================] - 0s 6ms/step - loss: 0.5308 - accuracy: 0.7825 - val_loss: 0.5316 - val_accuracy: 0.7817
Epoch 21/50
66/66 [==============================] - 0s 6ms/step - loss: 0.5308 - accuracy: 0.7825 - val_loss: 0.5316 - val_accuracy: 0.7817
Epoch 22/50
66/66 [==============================] - 0s 6ms/step - loss: 0.5308 - accuracy: 0.7825 - val_loss: 0.5316 - val_accuracy: 0.7817
Epoch 23/50
66/66 [==============================] - 0s 4ms/step - loss: 0.5308 - accuracy: 0.7825 - val_loss: 0.5316 - val_accuracy: 0.7817
Epoch 24/50
66/66 [==============================] - 0s 5ms/step - loss: 0.5308 - accuracy: 0.7825 - val_loss: 0.5316 - val_accuracy: 0.7817
Epoch 25/50
66/66 [==============================] - 0s 5ms/step - loss: 0.5308 - accuracy: 0.7825 - val_loss: 0.5316 - val_accuracy: 0.7817
Epoch 26/50
66/66 [==============================] - 0s 5ms/step - loss: 0.5308 - accuracy: 0.7825 - val_loss: 0.5316 - val_accuracy: 0.7817
Epoch 27/50
66/66 [==============================] - 0s 6ms/step - loss: 0.5308 - accuracy: 0.7825 - val_loss: 0.5316 - val_accuracy: 0.7817
Epoch 28/50
66/66 [==============================] - 0s 6ms/step - loss: 0.5308 - accuracy: 0.7825 - val_loss: 0.5316 - val_accuracy: 0.7817
Epoch 29/50
66/66 [==============================] - 0s 5ms/step - loss: 0.5308 - accuracy: 0.7825 - val_loss: 0.5316 - val_accuracy: 0.7817
Epoch 30/50
66/66 [==============================] - 0s 5ms/step - loss: 0.5308 - accuracy: 0.7825 - val_loss: 0.5316 - val_accuracy: 0.7817
Epoch 31/50
66/66 [==============================] - 0s 6ms/step - loss: 0.5308 - accuracy: 0.7825 - val_loss: 0.5316 - val_accuracy: 0.7817
Epoch 32/50
66/66 [==============================] - 0s 5ms/step - loss: 0.5308 - accuracy: 0.7825 - val_loss: 0.5316 - val_accuracy: 0.7817
Epoch 33/50
66/66 [==============================] - 0s 6ms/step - loss: 0.5308 - accuracy: 0.7825 - val_loss: 0.5316 - val_accuracy: 0.7817
Epoch 34/50
66/66 [==============================] - 0s 6ms/step - loss: 0.5308 - accuracy: 0.7825 - val_loss: 0.5316 - val_accuracy: 0.7817
Epoch 35/50
66/66 [==============================] - 0s 6ms/step - loss: 0.5308 - accuracy: 0.7825 - val_loss: 0.5316 - val_accuracy: 0.7817
Epoch 36/50
66/66 [==============================] - 0s 6ms/step - loss: 0.5308 - accuracy: 0.7825 - val_loss: 0.5316 - val_accuracy: 0.7817
Epoch 37/50
66/66 [==============================] - 0s 6ms/step - loss: 0.5308 - accuracy: 0.7825 - val_loss: 0.5316 - val_accuracy: 0.7817
Epoch 38/50
66/66 [==============================] - 0s 5ms/step - loss: 0.5308 - accuracy: 0.7825 - val_loss: 0.5316 - val_accuracy: 0.7817
Epoch 39/50
66/66 [==============================] - 0s 5ms/step - loss: 0.5308 - accuracy: 0.7825 - val_loss: 0.5316 - val_accuracy: 0.7817
Epoch 40/50
66/66 [==============================] - 0s 6ms/step - loss: 0.5308 - accuracy: 0.7825 - val_loss: 0.5316 - val_accuracy: 0.7817
Epoch 41/50
66/66 [==============================] - 0s 5ms/step - loss: 0.5308 - accuracy: 0.7825 - val_loss: 0.5316 - val_accuracy: 0.7817
Epoch 42/50
66/66 [==============================] - 0s 5ms/step - loss: 0.5308 - accuracy: 0.7825 - val_loss: 0.5316 - val_accuracy: 0.7817
Epoch 43/50
66/66 [==============================] - 0s 5ms/step - loss: 0.5308 - accuracy: 0.7825 - val_loss: 0.5316 - val_accuracy: 0.7817
Epoch 44/50
66/66 [==============================] - 0s 5ms/step - loss: 0.5308 - accuracy: 0.7825 - val_loss: 0.5316 - val_accuracy: 0.7817
Epoch 45/50
66/66 [==============================] - 0s 5ms/step - loss: 0.5308 - accuracy: 0.7825 - val_loss: 0.5316 - val_accuracy: 0.7817
Epoch 46/50
66/66 [==============================] - 0s 5ms/step - loss: 0.5308 - accuracy: 0.7825 - val_loss: 0.5316 - val_accuracy: 0.7817
Epoch 47/50
66/66 [==============================] - 0s 6ms/step - loss: 0.5308 - accuracy: 0.7825 - val_loss: 0.5316 - val_accuracy: 0.7817
Epoch 48/50
66/66 [==============================] - 0s 5ms/step - loss: 0.5308 - accuracy: 0.7825 - val_loss: 0.5316 - val_accuracy: 0.7817
Epoch 49/50
66/66 [==============================] - 0s 6ms/step - loss: 0.5308 - accuracy: 0.7825 - val_loss: 0.5316 - val_accuracy: 0.7817
Epoch 50/50
66/66 [==============================] - 0s 5ms/step - loss: 0.5308 - accuracy: 0.7825 - val_loss: 0.5316 - val_accuracy: 0.7817

In [53]:
print('the NeuralNetwork 1-accuracy score of train set is: {}'.format(1- (accuracy_score(y_train, np.argmax(model.predict(X_train),axis=1)))))
print('the NeuralNetwork 1-accuracy score of test set is: {}'.format(1- (accuracy_score(y_test, np.argmax(model.predict(X_test),axis=1)))))

the NeuralNetwork 1-accuracy score of train set is: 0.21749770572040383
the NeuralNetwork 1-accuracy score of test set is: 0.21834862385321097

##### from the above models, it appear the neural network did not peform well compared to other models